header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  header .nav-link {
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  header .nav-link:hover {
    color: #d4e2f0;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  #patient-details {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  #patient-details h2 {
    margin-top: 0;
  }
  
  #patient-details p {
    font-size: 16px;
    margin: 5px 0;
  }
  